# Build
/openpanel-server/target/
/read-server/target/
/openpanel-ui/node_modules/
/read-ui/node_modules/
/openpanel-ui/dist/
/read-ui/dist/

# Runtime data
*.db
*.db-shm
*.db-wal
data
/thumbs/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

